.bodyBack_Lee {
    background-image: url(../img/softBG.svg);
    background-size: cover;
    height: auto;
}

.header_Lee {
    position: relative;
}

.header_nav_Lee {
    background-color: #ffffff83;
    position: fixed;
    top: 0;
    width: 100%;
    height: 72px;
}

.header_nav_Lee ul {
    display: flex;
    width: 1420px;
    justify-content: space-around;
    margin: 0 auto;
    font-size: 35px;
    padding: 18px 0;
    font-family: 'BMJUA';
}

.header_nav_Lee ul li a {
    color: #895C87;
}

.section_Lee {
    margin: 156px auto auto auto;
    width: 1420px;
}

.W100_Lee {
    width: 100%;
}

.section_subTitle_header_Lee {
    color: #818181;
    font-size: 20px;
    text-align: center;
    font-family: 'GenAR102';
    font-weight: 700;
}


.section_subTitle_Lee {
    margin-top: 33px;
    text-align: center;
}

.section_subTitle_Lee p {
    font-size: 30px;
    font-family: 'GenAR102';
    font-weight: 700;
}

.section_Data_box_Lee {
    margin-top: 16px;
    padding-bottom: 21px;
    border-bottom: 1px solid #818181;
    font-family: 'GenAR102';

}

.Df_JB {
    display: flex;
    justify-content: space-between;
}

.Df_SA {
    display: flex;
    justify-content: space-around;
}

.DF_AC {
    align-items: center;
}

.Df {
    display: flex;
}

.W24H24 {
    width: 24px;
    height: 24px;
}

.ml10_Color {
    margin-left: 10px;
    color: #818181;
}

.Color {
    color: #818181;
}

.mt4_3 {
    line-height: 18px;
}