<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" th:href="@{/css/font.css}">
  <link rel="stylesheet" th:href="@{/css/reset.css}">
  <link rel="stylesheet" th:href="@{/css/subPageAll.css}">
  <link rel="stylesheet" th:href="@{/css/choiceSubpage.css}">
  <script th:src="@{/js/subpage.js}"></script>
</head>

<body class="bodyBack_Lee overflow-hidden_Lee">
<header class="header_Lee">
  <nav class="header_nav_Lee ">
    <ul>
      <li><a href="#" data-category="SeungYeop" id="SeungYeopLink">승엽</a></li>
      <li><a href="#" data-category="DaYoung" id="DaYoungLink">다영</a></li>
      <li><a href="#" data-category="HyoJoo" id="HyoJooLink">효주</a></li>
      <li><a href="#" data-category="JaeHee" id="JaeHeeLink">재희</a></li>
      <li><a href="#" data-category="HaYoung" id="HaYoungLink">하영</a></li>
      <li><a href="#" data-category="EunSeok" id="EunSeokLink">은석</a></li>
      <li><a href="#" data-category="MinJoo" id="MinJooLink">민주</a></li>
    </ul>
  </nav>
</header>
<section class=" section_Lee" id="contentSection">
  <div class="W100_Lee">
    <!-- 첫번째 -->
    <div class="W100_Lee Df_JB">
      <div class="poster_All_Box" id="firstPosterContainer">
      </div>
    </div>
    <!-- 첫번째 -->

    <!-- 두번째 -->
    <div class="W100_Lee Df_JB">
      <div class="poster_All_Box" id="secondPosterContainer">
      </div>
    </div>
    <!-- 두번째 -->
  </div>
</section>
<footer>
</footer>
</body>

</html>