<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/subPageAll.css}">
    <link rel="stylesheet" th:href="@{/css/SeungYeop/seungyeop.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body class="bodyBack_Lee">
<header class="header_Lee">
    <nav class="header_nav_Lee ">
        <ul>
            <li><a href="">애니메이션</a></li>
            <li><a href="">해외영화</a></li>
            <li><a href="">한국영화</a></li>
            <li><a href="">과학영화</a></li>
            <li><a href="">게임영화</a></li>
            <li><a href="">아이원영화</a></li>
            <li><a href="">아카데미영화</a></li>
        </ul>
    </nav>
</header>
<section class="section_Lee">
    <div class="W100_Lee">
        <div class="W100_Lee">
            <div>
                <p class="section_subTite_header_Lee">애니메이션 리뷰</p>
            </div>
            <div class="section_subTite_Lee">
                <p>애니 오타쿠의 영화공유 & 리뷰</p>
            </div>
            <div class="section_Data_box_Lee Df_JB DF_AC">
                <div class="Df_JB DF_AC W100_Lee">
                    <div class="Df DF_AC">
                        <img th:src="@{/img/penguin.png}" alt="" class="W24H24">
                        <p class="ml10_Color mt4_3">애니오타쿠</p>
                        <p class="ml10_Color">2024-06-20</p>
                    </div>
                    <div class="Color">
                        <a href="">돌아가기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 엘리멘탈 -->
    <div class="movie" id="test">
        <div class="movie_div">
            <div class="header">
                <div class="header_border">
                    <div class="header_demon01">
                        <p> 엘리멘탈(Elemental) </p>
                    </div>
                    <div class="header_demon02">
                        <p> 영화: Elemental 2023</p>
                    </div>
                </div>
            </div>

            <div class="body">
                <div class="body_img_box">
                    <img class="body_img_demon" th:src="@{/img/SeungYeop/Elemental.jpg}">
                </div>
            </div>

            <div class="footer">
                <div class="footer_summary">
                    <div class="footer_summary02">
                        <p> 개요 </p>
                        <p> 애니메이션 </p>
                        <p> 미국 </p>
                        <p> 109분 </p>
                    </div>

                    <div class="footer_summary03">
                        <p> 개봉 </p>
                        <p> 2023.06.14 </p>
                    </div>
                    <div class="footer_summary04">
                        <p> 평점 </p>
                        <p class="pentagram"></p>
                        <p>8.92</p>
                    </div>
                    <div class="footer_summary05">
                        <p> 관객 </p>
                        <p> 724만명 </p>
                    </div>
                    <p> 불, 물, 공기, 흙 4개의 원소들이 살고 있는 ‘엘리멘트 시티’ </p>
                    <p> 재치 있고 불처럼 열정 넘치는 ‘앰버'는 어느 날 우연히 유쾌하고 감성적이며 </p>
                    <p> 물 흐르듯 사는 '웨이드'를 만나 특별한 우정을 쌓으며, </p>
                    <p> 지금껏 믿어온 모든 것들이 흔들리는 새로운 경험을 하게 되는데... 웰컴 투 ‘엘리멘트 시티’! </p>
                    <div id="Accordion_wrap">
                        <div class="que">
                            <span> 엘리멘탈(Elemental) </span>
                            <div class="arrow-wrap"></div>
                        </div>
                        <div class="anw">
                            <p> 언제나 별천지 아이디어를 선보이는 픽사라지만 4원소의 엘리멘트 시티로</p>
                            <p> 이토록 따뜻하고 매력적인 공감대는 만들어낼 수 있다니 새삼 놀라웠던 작품 입니다 ㅜㅜ</p>
                            <p> 불과 물이라는 존재가 만나 서로를 밀어내려고 해도 자꾸 끌어당기는 그 평범하지만 아름다운</p>
                            <p> "반대가 끌리는 이유"에 관한 이야기에 귀에 착 붙는 음악이 더해지면 불'앰버' 와 물 '웨이드'</p>
                            <p> 관계가 더욱 유쾌하고 달콤해지는 느낌을 받죠 "반대가 끌리는 이유"에 관한 영화 추천드립니다.</p>
                        </div>
                    </div>
                    <script>
                        $(document).ready(function() {
                            $(".que").click(function() {
                                $(this).next(".anw").stop().slideToggle(300);
                                $(this).toggleClass('on').siblings().removeClass('on');
                                $(this).next(".anw").siblings(".anw").slideUp(300);
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 엘리멘탈 -->

<footer></footer>
</body>
</html>
