<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/subPageAll.css}">
    <link rel="stylesheet" th:href="@{/css/SeungYeop/seungyeop.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/js/SeungYeop/SeungYeop.js}"></script>

</head>

<body class="bodyBack_Lee">
<div th:replace="header/header :: header"></div>
<section class="section_Lee">
    <div class="W100_Lee">
        <div class="W100_Lee">
            <div>
                <p class="section_subTitle_header_Lee">애니메이션 리뷰</p>
            </div>
            <div class="section_subTitle_Lee">
                <p>애니 오타쿠의 영화공유 & 리뷰</p>
            </div>

            <div class="section_Data_box_Lee Df_JB DF_AC">
                <div class="Df_JB DF_AC W100_Lee">
                    <div class="Df DF_AC">
                        <img th:src="@{/img/seungYeop/penguin.png}" alt="" class="W24H24">
                        <p class="ml10_Color mt4_3">애니오타쿠</p>
                        <p class="ml10_Color">2024-06-20</p>
                    </div>

                    <div class="Color">
                        <a href="">돌아가기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 귀멸이 칼날 -->

    <div class="movie">
        <div class="movie_div">
            <div class="header">
                <div class="header_border">
                    <div class="header_demon01">
                        <p th:text="${movie.title}"></p>
                    </div>
                    <div class="header_demon02">
                        <p th:text="${movie.subtitle}"></p>
                    </div>
                </div>
            </div>
            <div class="body">
                <div class="body_img_box">
                    <img class="body_img_demon" th:src="${movie.imageUrl}">
                </div>
            </div>
            <div class="footer">
                <div class="footer_summary">
                    <div class="footer_summary02">
                        <p>개요</p>
                        <p th:text="${movie.genre}"></p>
                        <p th:text="${movie.country}"></p>
                        <p th:text="${movie.duration}"></p>
                    </div>
                    <div class="footer_summary03">
                        <p>개봉</p>
                        <p th:text="${movie.releaseDate}"></p>
                    </div>
                    <div class="footer_summary04">
                        <p>평점</p>
                        <p class="pentagram"></p>
                        <p th:text="${movie.rating}"></p>
                    </div>
                    <div class="footer_summary05">
                        <p>관객</p>
                        <p th:text="${movie.audience}"></p>
                    </div>
                    <div class="footer_summary06">
                        <p>원작</p>
                        <a th:href="${movie.originalLink}" style="color: blue;">만화</a>
                    </div>
                    <p th:text="${movie.description}"></p>
                    <div id="Accordion_wrap">
                        <div class="que">
                            <span th:text="${movie.AccordionTitle}"> </span>
                        </div>
                        <div class="anw">
                            <pre th:text="${movie.anw}"></pre>
                        </div>
                </div>
            </div>
        </div>
    </div>

</section>

</body>

</html>