.go_sub{
    font-family: 'BMJUA';
}
bodym {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article {
    margin-bottom: 2rem;
    padding: 1rem;
}

article h2 {
    color: #333;
    margin-bottom: 0.5rem;
}

article p {
    font-family: BMJUA;
    /*margin-bottom: 1rem;*/
}

article a{
    font-family: BMJUA;
}
article c{
    color: saddlebrown;
}

pre {
    background: #272822;
    color: #f8f8f2;
    padding: 1rem;
    border-radius: 5px;
    overflow: auto;
}

code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}

.ti{
    text-align: center;
}

/* 훔친 클릭시 슬라이드로 숨겨진 내용 나오는 css*/
.f {
    border-top: 1px solid #895c87;
    padding: 15px 0 0 10px;
    margin-top: 10px;
}
.f p {
    margin: 5px;
    font-size: 20px;
}
*{
    box-sizing: border-box;
}
.que:first-child{
    border-top: 1px solid black;
}
.que{
    font-family: 'BMJUA';
    position: relative;
    padding: 10px 0;
    cursor: pointer;
    font-size: 34px;
    border-bottom: 1px solid ;
}
.que::before{
    display: inline-block;
    content: '코드 리뷰 - ';
    font-size: 34px;
    margin: 0 5px;
}
.que.on>span{
    font-weight: bold;
}
.anw {
    font-family: 'BMJUA';
    padding: 15px;
    display: none;
    overflow: hidden;
    font-size: 14px;
}
.anw::before {
    padding: 15px;
    display: inline-block;
    content: '';
    font-size: 14px;
    font-weight: bold;
    color: #666;
    margin: 0 5px;
}
.arrow-wrap {
    position: absolute;
    top:50%; right: 10px;
    transform: translate(0, -50%);
}
.que .arrow-top {
    display: none;
}
.que .arrow-bottom {
    display: block;
}
.que.on .arrow-bottom {
    display: none;
}
.que.on .arrow-top {
    display: block;
}
