<header class="header_Lee">
  <nav class="header_nav_Lee ">
    <ul>
      <li>
        <a th:href="@{/seungYeopPage(pageNumber=1)}">
          승엽
        </a>
      </li>
      <li>
        <a th:href="@{/daYoungPage(pageNumber=1)}">
          다영
        </a>
      </li>
      <li>
        <a th:href="@{/hyoJooPage(pageNumber=1)}">
          효주
        </a>
      </li>
      <li>
        <a th:href="@{/jaeHeePage(pageNumber=1)}">
          재희
        </a>
      </li>
      <li>
        <a th:href="@{/haYoungPage(pageNumber=1)}">
          하영
        </a>
      </li>
      <li>
        <a th:href="@{/eunSeokPage(pageNumber=1)}">
          은석
        </a>
      </li>
      <li>
        <a th:href="@{/minJooPage(pageNumber=1)}">
          민주
        </a>
      </li>
    </ul>
  </nav>
</header>