<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" th:href="@{/css/reset.css}">
  <link rel="stylesheet" th:href="@{/css/font.css}">
  <link rel="stylesheet" th:href="@{/css/subPageAll.css}">
</head>

<body class="bodyBack_Lee">
  <header class="header_Lee">
    <nav class="header_nav_Lee ">
      <ul>
        <li>
          <a href="">
            애니메이션
          </a>
        </li>
        <li>
          <a href="">
            해외영화
          </a>
        </li>
        <li>
          <a href="">
            한국영화
          </a>
        </li>
        <li>
          <a href="">
            과학영화
          </a>
        </li>
        <li>
          <a href="">
            게임영화
          </a>
        </li>
        <li>
          <a href="">
            아이원영화
          </a>
        </li>
        <li>
          <a href="">
            아카데미영화
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <section class=" section_Lee">
    <div class="W100_Lee">
      <div class="W100_Lee">
        <div>
          <p class="section_subTite_header_Lee ">애니메이션 리뷰</p>
        </div>
        <div class="section_subTite_Lee">
          <p>인사이드아웃 2 특전 굿즈 CGV 롯데시네마 메가박스 축전 나만 못받음</p>
        </div>
        <div class="section_Data_box_Lee Df_JB DF_AC">
          <div class="Df_JB DF_AC W100_Lee">
            <div class="Df DF_AC">
              <img src="../../../static/img/character.svg" alt="" class="W24H24">
              <p class="ml10_Color mt4_3">애니오타쿠</p>
              <p class="ml10_Color">2024-06-20</p>
            </div>
            <div class="Color">
              <a href="">돌아가기</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 영화 소개  -->
    <div>

    </div>
    <!-- 영화 소개 -->
  </section>
  <footer>
  </footer>
</body>

</html>