<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/subPageAll.css}">
    <link rel="stylesheet" th:href="@{/css/SeungYeop/seungyeop.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body class="bodyBack_Lee">
<div th:replace="~{header/header :: header}"></div>
<section class="section_Lee">
    <div class="W100_Lee">
        <div class="W100_Lee">
            <div>
                <p class="section_subTitle_header_Lee ">게임 리뷰</p>
            </div>
            <div class="section_subTitle_Lee">
                <p>게임폐인의 공유 & 리뷰</p>
            </div>
            <div class="section_Data_box_Lee Df_JB DF_AC">
                <div class="Df_JB DF_AC W100_Lee">
                    <div class="Df DF_AC">
                        <img th:src="@{/img/character.svg}" alt="" class="W24H24">
                        <p class="ml10_Color mt4_3">인기 게임</p>
                        <p class="ml10_Color">2024-06-20</p>
                    </div>
                    <div class="Color">
                        <a th:href="@{/subpage}" >돌아가기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="movie" th:if="${gamePage.hasContent()}" th:each="game : ${gamePage.content}">
        <div class="movie_div">
            <div class="header">
                <div class="header_border">
                    <div class="header_demon01">
                        <p th:text="${game.estitle}"></p>
                    </div>
                    <div class="header_demon02">
                        <p th:text="${game.essubtitle}"></p>
                    </div>
                </div>
            </div>
            <div class="body">
                <div class="body_img_box">
                    <img class="body_img_demon" th:src="@{${game.esimageurl}}" alt="게임 이미지">
                </div>
            </div>
            <div class="footer">
                <div class="footer_summary">
                    <div class="footer_summary02">
                        <p> 개요 :</p>
                        <p th:text="${game.esgenre}"></p>
                        <p th:text="${game.escountry}"></p>
                        <p th:text="${game.esduration}"></p>
                    </div>
                    <div class="footer_summary03">
                        <p> 출시일 :</p>
                        <p th:text="${game.esissue}"></p>
                    </div>
                    <div class="footer_summary04">
                        <p> Metacritic </p>
                        <p class="pentagram"></p>
                        <p th:text="${game.esmetacritic}"></p>
                    </div>
                    <div class="footer_summary05">
                        <p> 동시 접속자 </p>
                        <p th:text="${game.esaccessor}"></p>
                    </div>
                </div>
                <div>
                    <a th:href="@{/eunseok/game/{id}(id=${game.id})}">수정</a>
                    <form th:action="@{/eunseok/game/{id}/delete(id=${game.id})}" method="post" style="display:inline;">
                        <input type="hidden" name="_method" value="DELETE" />
                        <button type="submit">삭제</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <a th:href="@{/eunseok/game/new}">새 게임 추가</a>
    </div>
</section>
</body>
</html>