<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" th:href="@{/css/reset.css}">
  <link rel="stylesheet" th:href="@{/css/font.css}">
  <link rel="stylesheet" th:href="@{/css/subPageAll.css}">
</head>

<body class="bodyBack_Lee">
  <div th:replace="header/header :: header"></div>
  <section class=" section_Lee">
    <div class="W100_Lee">
      <div class="W100_Lee">
        <div>
          <p class="section_subTitle_header_Lee ">애니메이션 리뷰</p>
        </div>
        <div class="section_subTitle_Lee">
          <p>인사이드아웃 2 특전 굿즈 CGV 롯데시네마 메가박스 축전 나만 못받음</p>
        </div>
        <div class="section_Data_box_Lee Df_JB DF_AC">
          <div class="Df_JB DF_AC W100_Lee">
            <div class="Df DF_AC">
              <img th:src="@{/img/character.svg}" alt="" class="W24H24">
              <p class="ml10_Color mt4_3">애니오타쿠</p>
              <p class="ml10_Color">2024-06-20</p>
            </div>
            <div class="Color">
              <a href="">돌아가기</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 영화 소개  -->
    <div>

    </div>
    <!-- 영화 소개 -->
  </section>
  <footer>
    <div style="width: 100%; text-align: center;">
      <a th:href="@{/page/subpage}">처음으로</a>
    </div>
  </footer>
</body>

</html>