<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>

<body>
<div class="index_back_img">
    <div class="index_search_box">
        <div class=" Df_JC">
            <div class="enter_btn">
                <a th:href="@{/page/subpage}"   >
                    <p>영화보러가기</p>
                </a>
            </div>
        </div>
        <div class="movie_search">
            <input type="text" placeholder="우승엽 바보">
            <p>검색</p>
        </div>
    </div>
</div>
</body>

</html>