<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/subPageAll.css}">
    <link rel="stylesheet" th:href="@{/css/MinJoo/minjoo.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body class="bodyBack_Lee">
<div th:replace="header/header :: header"></div>
<section class=" section_Lee">
    <div class="W100_Lee">
        <div class="W100_Lee">
            <div>
                <p class="section_subTitle_header_Lee ">코딩공부 리뷰</p>
            </div>
            <div class="section_subTitle_Lee">
                <p>코실의 코딩공부 리뷰</p>
            </div>
            <div class="section_Data_box_Lee Df_JB DF_AC">
                <div class="Df_JB DF_AC W100_Lee">
                    <div class="Df DF_AC">
                        <img th:src="@{/img/character.svg}" alt="" class="W24H24">
                        <p class="ml10_Color mt4_3">코실</p>
                        <p class="ml10_Color">2024-06-26</p>
                    </div>
                    <div class="Color">
                        <a href="">돌아가기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 영화 소개  -->
    <div>
        <bodym>
            <main>
                <article>
                    <h2 class="ti">Github에 branch 완벽이해</h2>
                    <img class="bran" th:src="@{/img/MinJoo/branch.png}">
                    <p>branch는 우리가 서비스하는 프로그램의 버전관리를 위해 이용하는 것인데
                        위에 사진으로도 사용이유가 이해가지않는다면 구글링하여 열심히 공부하자!
                    아니면 밑에 <c>git링크</c>를 읽어보자</p>
                    <a th:href="@{https://git-scm.com/book/ko/v2/Git-%EB%B8%8C%EB%9E%9C%EC%B9%98-%EB%B8%8C%EB%9E%9C%EC%B9%98%EB%9E%80-%EB%AC%B4%EC%97%87%EC%9D%B8%EA%B0%80}" style="color: saddlebrown;">branch란 무엇인가</a>
                    <p>feature 브랜치 생성하는 명령어</p>
                    <pre><code>
git branch feature
            </code></pre>
                </article>
                <article>
                    <p>지금 위치한 브랜치를 feature 브랜치로 바꾸는 명령어</p>
                    <pre><code>
git checkout feature
            </code></pre>
                </article>
                <article>
                    <p>모든 브랜치 목록 확인하는 명령어</p>
                    <pre><code>
git branch
            </code></pre>
                </article>
                <article>
                    <p>feature 브랜치 삭제하는 명령어</p>
                    <pre><code>
git branch -d feature
            </code></pre>
                </article>
                <article>
                    <p>feature 브랜치 생성과 동시에 feature 브랜치로 전환하는 명령어</p>
                    <pre><code>
git checkout -b feature
            </code></pre>
                </article>
                <article>
                    <p>feature 브랜치를 main(master) 브랜치에 합치는 명령어</p>
                    <pre><code>
git merge feature
            </code></pre>
                </article>
                <article>
                    <p>commit한 걸 feature 브랜치에 push하는 명령어</p>
                    <pre><code>
git push origin feature
            </code></pre>
                    <p>다 봤으면 바로 git을 켜서 실행해보자!!!</p>
                </article>
            </main>
        </bodym>
        <div class="f">
            <div id="Accordion_wrap">
                <div class="que">
                    <span>안녕하세요 코드 도둑입니다.</span>
                    <div class="arrow-wrap"></div>
                </div>
                <div class="anw">
                    <p>이제 이 코드는 제 것입니다.</p>
                    <p>마음대로 할 수 있는겁니다.</p>

                </div>
            </div>
            <script>
                $(document).ready(function() {
                    $(".que").click(function() {
                        $(this).next(".anw").stop().slideToggle(500);
                        $(this).toggleClass('on').siblings().removeClass('on');
                        $(this).next(".anw").siblings(".anw").slideUp(300); // Only one panel open at a time
                    });
                });
            </script>
        </div>
    </div>
    <!-- 영화 소개 -->
</section>
<footer>
    <div class="go_sub" style="width: 100%; text-align: center;">
        <a th:href="@{/page/subpage}">처음으로</a>
    </div>
</footer>
</body>
</html>